.graficos-dashboard {
  display: flex;
  height: 100vh;
  background-image: url('../../assets/images/FondoGeneral.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  overflow-x: hidden;
  width: 100vw; /* Asegurar que no haya desbordamiento */
}


.intervalo-selector {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-size: 1.2rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-radius: 8px;
}

.chart-title {
  background: rgb(20, 88, 137); /* Fondo oscuro semitransparente */
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  display: inline-block;
}


.intervalo-selector select {
  padding: 0.8rem;
  font-size: 1rem;
  background-color: #bc25ab6c;
  color: #fff;
  border-radius: 4px;
  border: none;
  outline: none;
}

.intervalo-selector label {
  font-weight: bold;
}

.graficos-container {
  flex: 1;
  padding: 3rem;
  overflow-y: auto;
  overflow-x: hidden; /* Asegurar que no haya scroll horizontal */
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100vw; /* Evitar que el contenido se expanda demasiado */
}


.graficos-container h1 {
  text-align: center;
  margin-top: 0.7rem;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: bold;
  color: #fff; /* Texto blanco */
  text-shadow: 0 3px 8px rgba(0, 0, 0, 0.8);
}

.graficos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Reduce el tamaño mínimo */
  gap: 3rem;
  width: 100%;
  padding: 0 1rem;
  max-width: 100vw; /* Limita el ancho */
}

.grafico-box {
  background: rgba(255, 255, 255, 0.596);
  border-radius: 15px;
  padding: 2rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  color: #fff;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  align-items: center;
  align-content: center;
  height: auto;
  width: auto;
}

.grafico-box:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.5);
}

.grafico-box canvas {
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
}

.grafico-temperatura{
  height: 250px;
}

.grafico-box .chart-title {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.grafico-box .fecha {
  font-size: 1rem;
  color: #eee; /* Texto de fechas en un color claro */
}
