.card {
    background-color: var(--secondary-color);
    padding: 1.5rem;
    border-radius: 8px;
    text-align: center;
    flex: 1;
    margin: 0.5rem;
  }
  
  .card h3 {
    margin: 0 0 0.5rem 0;
  }
  
  .card-value {
    font-size: 1.5rem;
    margin-bottom: 0.25rem;
  }
  
  .card-info {
    font-size: 0.875rem;
    color: var(--dark-color);
  }
  