.sidebar {
    background-color: var(--dark-color);
    color: #fff;
    min-height: 100vh; /* Para que ocupe toda la altura de la ventana */
    width: 200px;
    padding: 1rem;
  }
  
  .sidebar h2 {
    margin-bottom: 2rem;
    font-size: 1.5rem;
  }
  
  .sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .sidebar li {
    margin: 0.5rem 0;
  }
  
  .sidebar a {
    color: #fff;
    text-decoration: none;
  }
  
  .sidebar a:hover {
    text-decoration: underline;
  }
  