.form-login {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
  }
  
  .form-login h2 {
    text-align: center;
    margin: 0 0 0.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
  }
  
  .error-message {
    color: #ff7272; 
    font-size: 0.9rem;
    margin-top: -0.5rem;
    text-align: center;
  }
  
  .login-input input {
    width: 100%;
    padding: 0.55rem 0.7rem;
    font-size: 1rem;
    color: var(--text-color);         
    background-color: transparent;     
    border: 2px solid var(--accent-color); 
    border-radius: 4px;
    outline: none;
    box-sizing: border-box;            
  }
  
  
  .login-input label {
    display: block;
    margin-bottom: 0.5rem; 
    font-weight: 600;
    color: var(--text-color);
  }
  
  
  .login-input input:focus {
    border-color: var(--text-color); 
  }
  
  /* Botón */
  .login-button {
    background-color: var(--accent-color);
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 0.7rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: 600;
  }
  
  .login-button:hover {
    background-color: #e33abc; 
  }
  