:root {
  --card-bg-color: rgba(255, 255, 255, 0.15);
  --card-login-bg-color: rgba(55, 12, 50, 0.618);
  --text-color: #ffffff;
  --accent-color: #ff4acd; 
  --dark-color: #0f0e17; 
  --primary-color: #ffffff;   
  --secondary-color: #cccccc; 
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: var(--text-color);
  font-family: 'Arial', sans-serif;
    overflow-x: hidden;
    width: 100%;
  
}